<div class="body-div" ng-controller="ItemCtrl as itemctrl">
    <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
        <div class="col-xs-12">
            <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
            </uib-alert>
        </div>
    </div>

    <div class="body-inner-div row form-group">
        <div class="col-sm-1">
            Item Name :
        </div>
        <div class="col-md-5">
            <input class="form-control" ng-model="itemDTO.name"/>
        </div>
        <div class="col-md-4">
            <input type="button" value="ADD" class="btn btn-primary" ng-click="addItem()"/>
        </div>
    </div>
    <div class="body-inner-div">
        <rd-widget>
            <!--<rd-widget-body classes="medium no-padding">-->
            <div ng-if="items.length == 0">
                <h3 class="text-center">No Data</h3>
            </div>
            <div class="table-responsive" ng-if="items.length != 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.name}}</td>
                        <td>
                            <input type="button" value="DEACTIVATE" class="btn btn-danger">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--</rd-widget-body>-->
            <!--<rd-widget-footer>-->
            <!--<ul class="pagination pagination-sm pull-right">-->
            <!--<li><a href="#">&laquo;</a></li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">&raquo;</a></li>-->
            <!--</ul>-->
            <!--<div class="clearfix"></div>-->
            <!--</rd-widget-footer>-->
        </rd-widget>
    </div>
</div>