<div class="alert alert-danger" ng-show="masterctrl.error">
    There was a problem logging in. Please try again.
</div>
<center>
    <div style="padding: 60px;background-color: white;width: 500px;margin-top: 100px">

        <form role="form" ng-submit="login()">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <img src="img/ny.jpg" width="100%"><br>
                        Please enter your credentials to access the system.<br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>
                        <input type="text" class="text-box" id="username" name="username" ng-model="credentials.username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password" class="text-box" id="password" name="password" ng-model="credentials.password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="ADD" class="btn-box" ng-click="addItem()">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</center>